body{
    background: linear-gradient(90deg, rgba(131,58,180,0.2) 11%, rgba(253,29,169,0.15) 39%, rgba(252,69,146,0.15) 73%);
}
.main {
    display: flex;
    flex-direction: column;
}
.header {
    font-family: 'Comfortaa', sans-serif;
    color: rgb(44, 18, 18);
    margin: 5vw auto 0 auto;
}
.form {
    margin: 2vw auto 1vw auto;
}
#taskInput {
    font-family: 'Comfortaa', sans-serif;
    border: 2px solid rgb(214, 117, 198);
    border-radius: 15px;
    box-shadow: 0 5px 3px rgb(214, 117, 198);
    padding: 0.5vw;
}
#addButton{
    font-family: 'Comfortaa', sans-serif;
    border: 2px solid rgb(214, 117, 198);
    border-radius: 15px;
    box-shadow: 0 5px 3px rgb(214, 117, 198);
    background-color: rgb(238, 152, 176);
    color: rgb(44, 18, 18);
    padding: 0.5vw;
}
#taskList{
    font-family: 'Comfortaa', sans-serif;
}